# 대용량 파일
SAM2_streaming/checkpoints/sam2/sam2_hiera_tiny.pt
ai/checkpoint_a2b_inorm/model_epoch400.pth
ai/log_a2b_inorm/train/events.out.tfevents.1741239033.addinedu-Bravo-17-D7VF.15745.0
ai/log_a2b_inorm/val/events.out.tfevents.1741239033.addinedu-Bravo-17-D7VF.15745.1

# 특정 디렉토리 내 모든 파일과 디렉토리 무시 (단 "!경로"의 파일 및 하위 디렉토리는 유지)
# /ai/result/**/*
# /static/debug/**/*
# /static/map/*
# !/static/map/original/

# 모든 레벨에서 특정 디렉토리 무시
node_modules/
.venv/
__pycache__/
.cache/
.git/
# 또는 이렇게도 설정 가능
# **/node_modules/
# **/.venv/
# **/__pycache__/
# **/.cache/
# **/.git/

# 임시 파일
*.tmp
*.temp
.DS_Store
Thumbs.db

# 개인 설정 파일
config.local.ini
.env
.env.local
secrets.json